# Database
DATABASE_URL=""

# App
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Better Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend
RESEND_API_KEY=""

