# Environment variables
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Database Connection (PostgreSQL - NeonDB)
DATABASE_URL=""

# App Configuration
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""

# OAuth Credentials (Google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
