# Database Configuration
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=""

# App Configuration
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Authentication (Better Auth)
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""

# OAuth Credentials (Google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email Service (Resend)
RESEND_API_KEY=""
